--find-links https://download.pytorch.org/whl/torch_stable.html
--index-url https://pypi.tuna.tsinghua.edu.cn/simple
torch==2.0.0+cu118
torchvision==0.15.1+cu118
pytorch_lightning==2.0.1
tensorboard==2.11.2
timm==1.0.10
mmengine